header {
  align-items: center;
  padding: 40px 12%;
  background-color: #ffffff;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  place-content: center;
}
.under-nav-links {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
  place-content: center;
  padding-top: 10px;
}
.nav-links {
  text-align: center;
  padding-bottom: 10px;
}
@media (min-width: 600px) {
  .nav-links {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
  }
}
.nav-links a {
  display: inline-block;
  padding: 20px 60px 0px 60px;
}

.under-nav-links {
  text-align: center;
  min-height: 30px;
  width: 100%;
}

.under-nav-links a {
  display: inline-block;
}

.under-nav-links :hover,
.nav-links :hover {
  color: #ce77b9;
}

a p {
  color: #4d0a74;
}

footer {
  background-color: #ffffff;
  font-size: 0.9rem;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  margin: 0 10%;
  margin-top: 5%;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #4d0a74;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 20px;
}
h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #4d0a74;
}
h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #4d0a74;
}
.footer h3 {
  color: #373535;
}

p {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  max-width: 65ch;
}
.text-3 p {
  max-width: 90ch;
}
.baggrund {
  background-color: #ffd3f4;
  max-width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.knap a {
  color: #ffd3f4;
  background-color: #4d0a74;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1rem;
  margin-top: 5%;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}
.knap,
.knap2 {
  display: flex;
  justify-content: center;
}
.knap2 a {
  color: #4d0a74;
  background-color: #ffd3f4;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1rem;
  margin-top: 5%;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.splash h1 {
  color: #ffffff;
  font-size: 2.1rem;
}
/* burgermenu ---------------------------*/
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #4d0a74;
  display: none; /* Skjul knappen som standard */
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten er 600px */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 1px solid #000;
    gap: 0.1rem;
    display: flex;
    flex-flow: column;
  }
  .main-menu {
    border-bottom: 1px solid #000;
  }
}
